<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/foundation/css/foundation.css" media="screen" title="no title" charset="utf-8">

  <!-- Navigation -->
    <div class="contain-to-grid sticky">

      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a class="logo show-for-small-only" href="#"><img src="public/stylesheets/logo/Tap_logo.png" /></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <div class="logo-wrapper hide-for-small-only">
            <div class="logo">
              <a href="/">  <img src="stylesheets/logo/Tap_logo_cropped.png" height="100px"></a>
            </div>

    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
          </div>

          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="#">Logout</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="center">
            <li>
              <a href="#">Map</a>
              <li class="">
                <li><a href="#">My Account</a></li>
              </li>
              <ul class="dropdown">
                <li><a href="#">My Account</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Settings</a>
              <ul class="dropdown">
                <li><a href="#">My Stats</a></li>
                <li><a href="#">My Network Info</a></li>

              </ul>
            </li>
          </ul>

        </section>
      </nav>

    </div><!-- /navigation -->
</head>
<body class="container">
  <br>
  <div class="row jumbotron text-center">
    <h1><%= title %></h1>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Register</h4></div>
        <div class="panel-body">
          <form action="/register/borrower" method="post">
            <div class="form-group">
              <label for="username">Email:</label>
              <input type="text" id="username" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="pw">Password:</label>
              <input type="password" id="pw" class="form-control" name="password">
            </div>
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input type="text" id="firstName" class="form-control" name="firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input type="text" id="lastName" class="form-control" name="lastName">
            </div>
            <div class="form-group">
              <label for="cardCompany">Card Carrier:</label>
              <input type="text" id="cardCompany" class="form-control" name="cardCompany">
            </div>
            <div class="form-group">
              <label for="creditCardNum">Credit Card Number:</label>
              <input type="text" id="creditCardNum" class="form-control" name="creditCardNum">
            </div>
            <div class="form-group">
              <label for="creditCardCvCode">Credit Card CV Code (3 digits):</label>
              <input type="text" id="creditCardCvCode" class="form-control" name="creditCardCvCode">
            </div>
            <div class="form-group">
              <label for="creditCardExp">Credit Card Expiration Date:</label>
              <input type="text" id="creditCardExp" class="form-control" name="creditCardExp">
            </div>
            <div class="form-group text-right">
              <input type="submit" class="btn btn-warning" value="Register">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
