<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css" media="screen" title="no title" charset="utf-8">    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">%>
    <link rel="stylesheet" href="/stylesheets/foundation/css/foundation.css" media="screen" title="no title" charset="utf-8">
    <div class="contain-to-grid sticky">

      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a class="logo show-for-small-only" href="#"><img src="public/stylesheets/logo/Tap_logo.png" /></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <div class="logo-wrapper hide-for-small-only">
            <div class="logo">
              <!-- <img src="stylesheets/logo/Tap_logo_cropped.png" height="100px"> -->
            </div>

    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
          </div>

          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="/logout">Logout</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="center">
            <li>
              <a href="/map">Map</a>
              <li class="">
                <li><a href="/profile">My Account</a></li>
              </li>
            </li>
            <li class="has-dropdown">
              <a href="#">Settings</a>
              <ul class="dropdown">
                <li><a href="/profile/stats">My Stats</a></li>
                <li><a href="/profile/net-info">My Network Info</a></li>

              </ul>
            </li>
          </ul>

        </section>
      </nav>

    </div>
    <!-- /navigation -->
  </head>
  <body class="container">
    <div class="logo">
    </div>
    <br>
    <!-- <div class="">
      <h1><%= title %></h1>
    </div> -->
    <div class="text-center">
      <div>
        <div class="panel-body">
            <a href="/"> <img src="stylesheets/logo/Tap_logo-LG.png" height='500px' width='500px' /></a> 
          <% if (user) { %>
              <a href="/logout" class="btn btn-danger">Logout</a>
              <a href="/map" class="btn btn-primary">Next</a>
          <% } else { %>
            <p class='top-bar-section ul li > a.button'>
              I'm already a member.
            </p>
            <a href="/login" class="btn btn-info">Login</a>
            <br>
            <br>
            <p color='white'>
              I'm new here. Sign me Up!
            </p>
            <br>
            <a href="/register" class="btn btn-info">Lender</a>
            <a href="/register/borrower" class="btn btn-info">Borrower</a>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
