<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body class="container">
    <br>
    <div class="row jumbotron text-center">
      <h1><%= title %></h1>
    </div>
    <div class="row text-center">
      <div class="panel panel-default col-xs-4 col-xs-offset-4">
        <div class="panel-body">
          <% if (user) { %>
              <a href="/logout" class="btn btn-danger">Logout</a>
              <a href="/map" class="btn btn-primary">Next</a>
          <% } else { %>
            <p>
              I'm already a member
            </p>
            <a href="/login" class="btn btn-primary">Login</a>
            <br>
            <br>
              I want to sign up as a
            <br>
            <a href="/register" class="btn btn-info">Lender</a>
            <a href="/register/borrower" class="btn btn-info">Borrower</a>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
