<!DOCTYPE html>
<html>
  <head>
    <title>Tap-Map</title>
    <meta name="viewport" content="initial-scale=2.0, user-scalable=yes">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        top: 20px;
        bottom: 50px;
        height: 60%;
        width: 40%;
        margin: auto;
        padding-top: 100px;
        padding-bottom: 100px;

      }

    </style>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Home</a></li>
      <li class=""><a href="/profile" data-toggle="tab" aria-expanded="false">Profile</a></li>
      <li class=""><a href="/Map">Map</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
          <li class="divider"></li>
          <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
        </ul>
      </li>
    </ul>
  </head>
  <body>
    <div class="container">


    <h1 class= 'jumbotron row text-center'><%=title%></h1>
  </div>
  <div id="location" class="text-center">
<p>
<button class='btn btn-success' type="button" name="button">Save My Network Location</button>
</p>
  </div>
<div id="map"></div>
<br>
<br>
    <script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 15
  });
  var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      console.log(pos);

      infoWindow.setPosition(pos);
      infoWindow.setContent('This is you!');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}

$('button').click(function(){
  console.log('hello');
})
// F4Pos8QrL-oy7lZIFB6MUl-8vWay_tHA
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"
        async defer>
    </script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css" media="screen" title="no title" charset="utf-8">    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">%>
  </body>
</html>
